* {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: auto;
  border: solid;
}

header {
  background: yellow
}

#main {
  box-sizing: border-box;
  width: 75%;
  padding: 2%;
  margin: auto;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu li {
  display: inline;
  float: left;
  padding: 0 10px 0 0;
}

img {
  width: 100px;
  height: 100px;
}


footer {
  text-align: center;
  color: #4795e9;
  max-width: 30%;
  margin: auto;
  /*background-image: url('ball.jpg')*/
}

footer img {

}


aside {
  /*background-image: url('favicon.ico');*/
  /*background-repeat: repeat-x;*/
}

/*    h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}*/
